
*.pyc
notebooks/.ipynb_checkpoints/20220901_classification_problem-checkpoint.ipynb
notebooks/.ipynb_checkpoints/class_object_study-checkpoint.ipynb
notebooks/.ipynb_checkpoints/hi2-checkpoint.ipynb
notebooks/.ipynb_checkpoints/integration-checkpoint.ipynb
notebooks/.ipynb_checkpoints/newfile-checkpoint.log
notebooks/.ipynb_checkpoints/re2-checkpoint.ipynb
notebooks/.ipynb_checkpoints/sathish-checkpoint.ipynb
notebooks/arjun_modules/.ipynb_checkpoints/__init__-checkpoint.py
notebooks/arjun_modules/.ipynb_checkpoints/util-checkpoint.py
